{{!< center-container }}

<div class="jumbotron">
  <h1 class="display-5">
    Some things are private, So is this URL!
  </h1>
  <p class="lead">
    Welcome to <strong class="text-primary h3">cb.lk</strong>,
    the popular URL shortener
    - made with ❤️ by
    <a class="text-black-50" href="https://codingblocks.com">Coding Blocks</a>
  </p>
  <a class="btn btn-outline-primary btn-lg mx-4 my-1" href="https://codingblocks.com" role="button">
    ← Go to Coding Blocks homepage
  </a>
  <a class="btn btn-outline-dark btn-lg mx-4 my-1" href="/login" role="button">
    Login to continue →
  </a>
</div>
