{{#if messages.error}}
  <div class="alert alert-danger" role="alert">
    {{{messages.error}}}
  </div>
{{/if}}

{{#if messages.info}}
  <div class="alert alert-info" role="alert">
    {{{messages.info}}}
  </div>
{{/if}}

{{#if messages.success}}
  <div class="alert alert-success" role="alert">
    {{{messages.success}}}
  </div>
{{/if}}

{{#if error}}
  <div class="alert alert-danger" role="alert">
    {{{error}}}
  </div>
{{/if}}
