<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--<script src="/js/jquery-3.3.1.min.js"></script>-->
  <!--<script src="/js/popper.min.js"></script>-->
  <!--<script src="/js/bootstrap.min.js"></script>-->
  <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@coding-blocks/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@coding-blocks/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

{{> navbar}}

{{{body}}}

</body>
</html>